.section.welcome
  .wrapped
    %h2 Take it to the next level
    %p Live video lessons from awesome teachers
    %p [See how it works]
    %p [100% money back guarantee]
.section.categories
  .wrapped
    %h2 What do you want to learn
    %p [Music Production] [DJing] [Programming] [Business] [Fashion & Beauty]
    %p Browse all categories


.section.initial_signup
  .wrapped
    %h2 Join the community as teacher!
    %p The easiest way to schedule sessions with your students.
    .block
      %form{:action => new_user_registration_path}
        .hi
          Hi,
        .name
          my name is
          %input(name="name" placeholder="deadmau5")
        .offering
          and I am
          %input(name="offering" placeholder="teaching music production")
        %button Sign up as teacher
.section.statistics
  .wrapped
    %h2 We connect those who are eager to learn with those who are eager to teach.
    .block
      %p
        %strong= User.count
      %p Members
    .block
      %p
        %strong= User.count
      %p Sessions held
    .block
      %p
        %strong $#{User.count}
      %p Earned
