.section.welcome
  .wrapped
    %h2 Welcome
    %p Start your Audissey
    %p Learn the skills you want
    %p Teach what you know
    %p
      %strong Stats:
    %p
    #{User.count} registered | 0 USD earned | 0 sessions held
