@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,700);
@import "responsiveness";

html {
  color: #2B2B2E;
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  background-color: white;
}

a {
  color: #08B5E5;
}

* {
  font-size: 18px;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  text-rendering: optimizeLegibility;
  text-decoration: none;
}

input {
  padding: 2px 4px;
  background: none;
  border: none;
  border-bottom: 2px solid #FF7B1B;
  color: white;
  &:focus {
      outline:none;
      border-bottom: 2px solid #164269;
  }
}

button {
  padding: 6px 12px;
  border-radius: 5px;
  color: white;
  background: lighten(#164269,20);
  &:hover {
    background: #164269;
  }
  &:focus {
    background: #164269;
    outline:none;
  }
}


.hidden {
  display: none;
}

.wrapped {
  width: $normal-width;
  @include narrow { width: 100%; }
  @include wide { width: $wide-width; }
  margin: 0 auto;
}

#top_bar {
  h1 {
    font-size: 20px;
  }
  .links {
    position: absolute;
    right: 0;
  }
  .wrapped {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 16px;
  }
}

#content {
  padding-bottom: 150px;
}

#footer {
  padding-top: 30px;
  background: white;
  height: 150px;
  border-top: 1px solid #888;
  box-shadow: 0 10px 10px -10px black inset;
  position: relative;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #66666F;
  color: white;
}
