
fieldset.pricing {
  margin-bottom: 10px;
  input {
    width: 70px;
  }
}

.full_form {
  #offering_actionable_name {
    width: 300px;
  }
  .field {
    margin-top: 20px;
    .label {
      margin-top: 3px;
      display: inline-block;
      width: 150px;
      vertical-align: top;
    }
    .input {
      display: inline-block;
      vertical-align: top;
    }
  }
  .add_fields {
    display: inline-block;
    margin-top: 0px;
  }

}
